# cid tag1|tag2|...
7nedppu4g2bt2qgt2953c2utgk@group.calendar.google.com  ANNA☆S
trcallover@gmail.com  ALLOVER
asfi.ticket@gmail.com asfi
cg5nafq5uajk5cene05afh39v8@group.calendar.google.com  しゃちほこ # イベント
c8vn5k1reuntra4pvpr3so7tlo@group.calendar.google.com  しゃちほこ # ツアー
7f952eub7fmbv381tjdab47ep4@group.calendar.google.com  チキパ  # Cheeky Parade
cosweet.info_n1d9ajtfc586i1o8lpvsi2i8tc@group.calendar.google.com DLH  # ドロシーリトルハッピー
cosweet.info_fcqgopguslnrivl7kkk2de1a1s@group.calendar.google.com パティロケ # Party Rockets
8lq0tp8rjnougpopd03gc0neak@group.calendar.google.com		  NMB48
migaite5556@gmail.com 柊木りお
65rbp6hqu4g5abgvpps56pllrc@group.calendar.google.com  ナト☆カン
